hostname: "{{ rancher_hostname }}"
replicas: {{ rancher_replicas }}

ingress:
  enabled: false

tls: {{ rancher_tls_source }}

bootstrapPassword: "{{ rancher_bootstrap_password }}"

resources:
  requests:
    cpu: {{ rancher_cpu_requests }}
    memory: {{ rancher_memory_requests }}
  limits:
    cpu: {{ rancher_cpu_limits }}
    memory: {{ rancher_memory_limits }}
