---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: "{{ acme_email }}"
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
{% if cloudflare_api_token | default('') | length > 0 %}
    solvers:
      - dns01:
          cloudflare:
{% if cloudflare_zone_id | default('') | length > 0 %}
            zoneID: "{{ cloudflare_zone_id }}"
{% endif %}
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token
{% else %}
    solvers:
      - http01:
          ingress:
            class: traefik
{% endif %}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: "{{ acme_email }}"
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
{% if cloudflare_api_token | default('') | length > 0 %}
    solvers:
      - dns01:
          cloudflare:
{% if cloudflare_zone_id | default('') | length > 0 %}
            zoneID: "{{ cloudflare_zone_id }}"
{% endif %}
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token
{% else %}
    solvers:
      - http01:
          ingress:
            class: traefik
{% endif %}
